.card-title {

    font-size: 0.9rem;
}

.card-subtitle, .card-text, .card-link {
    font-size: 0.8rem;
}

.card {
    margin-bottom: 15px;
}

@media all and (min-width: 1000px) {
    
    .card-title {

        font-size: 1.3rem;
    }
    
    .card-subtitle, .card-text, .card-link {
        font-size: 1rem;
    }
    
}