.txtContainer {
  margin-inline: 1rem;
}

.imgContainer {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

/* media queries */
@media (width > 1403px) {
  .txtContainer {
    margin-inline: 2rem;
  }
}