.collapseBtn {
    width: 200px;
    margin-top: 20px;
    background-color: #FFC478;
    border: #FFC478;
    color: #090B44;
}

h1 {
    margin-top: 20px;
    margin-bottom: 25px;
}

.list-group-item, .btn-secondary {
    font-size: 0.7rem;
}

.btn-success {
    margin: 25px 0 25px 0;
}


@media all and (min-width: 1000px) {
    
    .list-group-item, .btn-secondary {
        font-size: 1rem;
    }
}