.mainContainer {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.flexInfos {
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px 20px;
}

.contactInfos, .addressGroup {
    border-left: solid 3px #3F9B84;
    padding-left: 10px;
}

.address {
    margin-left: 15px;
}

.addressGroup {
    margin-left: 20px;
}


.description {
    border: solid 2px gray;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.conditions {
    background-color: #BBDFC8;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

h2 {
    text-align: center;
}

.openingHours {
    padding-top: 20px;
    padding-bottom: 20px;
}

.address, .contact {
    padding-left: 60px;
}

.checkboxes > ul {
    list-style: none;
}

.serviceType {
    background-color: #F0E5D8;
}

.card {
    margin: 10px 0 10px 0;
    font-size: 0.8rem;
}

.links {
    font-size: 0.8rem;
}

@media all and (min-width: 1000px) {
    .card {
        font-size: 1rem;
    }
    
    .links {
        font-size: 1rem;
    }
}